body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ECF3FF;
    font-family: 'hanken Grotesk';
}

.f-container {
    display: flex;
    max-width: 650px;
    height: auto;
    background-color: white;
    border-radius: 25px;
}

.sec-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 100%;
    height: auto;
    border-radius: 25px;
    align-items: center;
}

.title {
    color: black;
    padding: 10px;
    font-weight: bold;
}

.large {
    font-size: 30px;
    display: block;
    color: white;
    font-weight: bold;
}

.result-txt {
    text-align: center;
    margin: 10px;
}

.round {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1/1;
    width: auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    padding: 35px;

}

.skill-box {
    /* doubt */
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    font-size: 20px;
}

.common-box>div {
    display: flex;
    gap: 8px;
}

.txt-size {
    font-size: 19px;
}

.secondary-text2 {
    color: rgb(190, 185, 185)
}

.secondary-text {
    color: rgb(155, 152, 152)
}

.hun {
    font-size: 20px;
}

.center-text {
    text-align: center;
}

.round-center {
    text-align: center;
    border-radius: 10px;
}

.section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.summary {

    width: 100%;
    height: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.great {
    color: white;
    font-size: 37px;
}

.sec-4 {
    font-size: 25px;
}

.sec-1 {
    font-size: 26px;
}

.skill-box > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    border-radius: 11px;
    /* doubt */
    font-size: 20px;
}
.reaction {
    background-color: rgb(253, 239, 239);
    color: hsl(0, 100%, 67%);
}
.Memory {
    background-color: rgb(252, 252, 200);
    color: hsl(39, 100%, 56%);
}
.Visual {
    background-color: rgb(204, 204, 248);
    color: hsl(234, 85%, 45%);
}
.Verbal {
    background-color: rgb(209, 250, 209);
    color: hsl(166, 100%, 37%);
}
.btn {
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 29px;
}
.btn:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.btn-div {
    text-align: center;
    padding: 10px;
}
* {
    box-sizing: border-box;
}
@media screen and (max-width:450px) {
    .f-container {
        flex-direction: column;
        margin: 1px;
    }

    .summary {
        margin: 2px;
    }

    .result {
        border-radius: 0 0 25px 25px;
    }

    .section {
        padding: 25px;
    }

    .btn {
        font-size: 20px;
    }


    .sec-4 {
        font-size: 16px;
        max-width: 85%;
    }

    .title {
        font-size: 23px;
    }
}

@media screen and (min-width:763px) {
    .sec-4 {
        font-size: 22px;
    }

    .title {
        font-size: 22px;
    }
}

@media screen and (min-width:1000px) {
    .f-container {
        max-width: 850px;
    }

    * {
        font-size: 30px;
    }

    .large {
        font-size: 60px;
    }

    .btn {
        font-size: 22px;
    }

    .round {
        font-size: 25px;
    }
}