body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ECF3FF;
    font-family: 'hanken Grotesk';
}

.f-container {
    display: flex;
    max-width: 650px;
    height: auto;
    background-color: white;
    border-radius: 25px;
}

.result {
    background-color: #4639F0;
    width: 100%;
    height: auto;
    border-radius: 25px;
    align-items: center;
}

.title{
    color: black;
    padding: 10px;
    font-weight: bold;
}
.large {
    font-size: 30px;
    display: block;
    color: white;
    font-weight: bold;
}
.result-txt{
    text-align: center;
    margin: 10px;
}
.round {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1/1;
    width: auto;
    background-color: #5635E2;
    border-radius: 100%;
    padding: 35px;

    }
.box{
    line-height: 25px;
    display: flex;
    flex-direction: column;
    
}

.secondary-text {
    color: rgb(155, 152, 152)
}
.center-text {
    text-align: center;
}

.round-center {
    text-align: center;
    border-radius: 10px;
}

.section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.summary {
    
    width: 100%;
    height: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.reaction {
    background-color: rgb(252, 230, 230);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    margin: 10px;
    color: rgb(243, 62, 62);
    
}

.Memory {
    background-color: rgb(237, 253, 237);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 10px;
    color: rgb(207, 207, 32);
}

.Visual {
    background-color: rgb(237, 253, 237);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 10px;
    color: rgb(84, 38, 248);
}

.Verbal {
    background-color: rgb(237, 253, 237);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 10px;
    color:  rgb(115, 175, 115);
}
.btn{
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 17px;
    margin: 10px;
}
.btn-div{
    text-align: center;
    margin: 15px;
    padding: 10px;
}
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
@media screen and (max-width:450px) {
    .f-container {
        flex-direction: column;
       margin: 1px;

    }
    .result{
        border-radius: 0 0 25px 25px;
    }
   
}
@media screen and (min-width:1000px) {
    .f-container{
        max-width: 850px;
    }
    *{
        font-size: 30px;
    }
    .large{
        font-size: 60px;
    }
    .round{
        font-size: 25px;
    }
}
@media screen and (min-width:2000px) {
    .f-container{
        max-width: 1300px;
    }
    *{
        font-size: 50px;
    }
    .large{
        font-size: 70px;
    }
    .round{
        font-size: 30px;
    }
    .great{
        font-size: 60px;
    }
}
